@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --textWhite: #fff;
    --textBlack: #161513;
    --bacgroundBlack: #161513;
    --backgroundWhite: #FDFFFC;
    --fontFamily: "Onest", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bacgroundBlack);
    font-family: var(--fontFamily);
}

.containerApp {
    width: 100%;
    max-width: 75rem;
    height: 100dvh;
    display: flex;
    margin: 0 auto;     
    flex: 1 0 auto;  
    flex-direction: column;
}