.header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 0px 40px;
}

.header img {
    cursor: pointer;
    object-fit: contain;
}

.header .container-best {
    gap: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container-best img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.header .container-best p {
    color: hsl(240, 1%, 59%);
    font-size: 17.5px;
    font-weight: 500;
    text-align: start;
    text-align: center;
}

.header .container-best p span {
    color: hsl(0, 0%, 100%);
    font-size: 17.5px;
}